#top-menu{
    background-color: #dff04a;
}
#main-content{
    background-color: #dbd7d7;
}
#footer{
    background-color: #242222;
    color: #dbd7d7;
}

/*FORM STYLING*/

/* center the form on the page*/
form{
    margin:0 auto;
    width: 600px;
    /*form outline*/
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background: #dff04a;
}



/*TABLE STYLING*/
table{
    border: 1px solid #242222;
    
}
th,td{
    border: 1px solid #3a3838;
    text-align: left;
}


